// @use 'sass:math';

@function responsive-font-size($font-size) {
    $smallest: $font-size / 1.4;
    $largest: $font-size * 1.2;
    $viewport-width: 100vw;

    @return unquote("clamp(#{$smallest}rem, #{($font-size / 2)}vw + #{($font-size / 2)}rem, #{$largest}rem)");
}


@function responsive-font-size-header($font-size) {
    $smallest: ($font-size / 2);
    @debug ($font-size / 1.5);
    $largest: $font-size * 1.2;
    $viewport-width: 100vw;

    @return unquote("clamp(#{$smallest}rem, #{($font-size / 2)}vw + #{($font-size / 2.5)}rem, #{$largest}rem)");
}