.heading-underline {
    width: 80%;
    height: 4px;
    background-color: $color-grey-dark-3;
}

.moving-image {
    // transform: translateX(0rem);
    transform: scale(1) rotate(0deg);
}

.skill__cell {
    transform: scale(1) translateY(0);
    // opacity: 1;
}

// .move-in-left, .move-in-right {
//     // position: absolute;
//     // top: 0;
//     // left: 0;
//     clip-path: inset(0 0 0 0);
//     // transform: translateX(0);
//     will-change: transform;
// }

@keyframes scale-a-lil {
    from {
        width: 20%;
    }
}

@keyframes move-a-lil {
    from {
        // transform:translateX(10rem);
        transform: scale(0.2) rotate(-45deg);
    }
}

@keyframes move-up {
    from {
        // transform:translateX(10rem);
        transform: scale(0.5) translateY(20rem);
        // opacity: 0;
    }
}
@keyframes move-left {
    from {
        // transform: translateX(20rem);
        clip-path: inset(0 100% 0 0);
        // transform: scale(.5) translateY(10rem);
    }
}
@keyframes move-right {
    from {
        transform: translateX(-20rem);
        // transform: scale(.5) translateY(10rem);
    }
}

    @media (prefers-reduced-motion: no-preference) {
    .heading-underline {
        -webkit-animation: scale-a-lil linear both;
        animation: scale-a-lil linear both;
        animation-timeline: view();
        animation-range: 5vh 70vh;
    }

    .moving-image {
        -webkit-animation: move-up linear both;
        animation: move-up linear both;
        animation-timeline: view();
        animation-range: 0vh 60vh;
    }
    // .move-in-left {
    //     -webkit-animation: move-left linear both;
    //     animation: move-left linear both;
    //     animation-timeline: view();
    //     animation-range: 10vh 70vh;
    // }
    // .move-in-right {
    //     -webkit-animation: move-right linear both;
    //     animation: move-right linear both;
    //     animation-timeline: view();
    //     animation-range: 0vh 50vh;
    // }

    .skill__cell {
        -webkit-animation: move-up linear both;
        animation: move-up linear both;
        animation-timeline: view();
        animation-range: 10vh 45vh;
    }
}
